CompileFlags:
  Add:
    - "-std=c++20"
    - "-D__SWITCH__"
    - "-DPLATFORM_SWITCH"
    - "-DUSE_MBEDTLS_CRYPTO"
    - "-DSUPPORT_UPSCALING"
    - "-Iapp/include"
    - "-Iapp/include/gestures"
    - "-Iapp/src"
    - "-Iapp/src/crypto"
    - "-Iapp/src/gestures"
    - "-Iapp/src/keyboards"
    - "-Iapp/src/libgamestream"
    - "-Iapp/src/streaming"
    - "-Iapp/src/streaming/audio"
    - "-Iapp/src/streaming/ffmpeg"
    - "-Iapp/src/streaming/switch"
    - "-Iapp/src/streaming/video"
    - "-Iapp/src/streaming/video/D3D11"
    - "-Iapp/src/streaming/video/deko3d"
    - "-Iapp/src/streaming/video/OpenGL"
    - "-Iapp/src/streaming/video/Metal"
    - "-Iapp/src/utils"
    - "-Iextern/borealis/library/include"
    - "-Iextern/borealis/library/include/borealis"
    - "-Iextern/borealis/library/include/borealis/extern/nanovg"
    - "-Iextern/borealis/library/lib/core"
    - "-Iextern/borealis/library/lib/views"
    - "-Iextern/borealis/library/lib/views/cells"
    - "-Iextern/borealis/library/lib/views/widgets"
    - "-Iextern/moonlight-common-c/include"
    - "-Iextern/moonlight-common-c/enet/include"
    - "-Iextern/moonlight-common-c/src"
    - "-Iextern/CImg"

Diagnostics:
  Suppress:
    - "pp_file_not_found"
    - "unknown_typename"
    - "undeclared_var_use"
    - "fatal_too_many_errors"
